<h1>Lista de Alumnos x Ramiro del Rio</h1>
<p>Uso de Directivas y Pipes</p>

<ol>
    <li class="bordered-li" *ngFor="let student of students">
      <span class="nombre" [ngStyle]="{ color: student.nombre === 'Ramiro' ? 'teal' : 'yellow' }">Nombre: {{ student.nombre }}</span><br>
      <span>Apellido: {{ student.apellido | uppercase}}</span><br>
      <span [ngClass]="{ 'highlight': student.edad > 18 }">Edad: {{ student.edad }}</span><br>
      <span [ngClass]="{ 'alert': student.cuotapendiente > 10000}">Cuota a Pagar: {{ student.cuotapendiente | currency: 'USD'}}</span><br>
      <span *ngIf="student.fechanacimiento !== null && student.fechanacimiento !== undefined">Cumpleanos: {{ student.fechanacimiento | date: 'dd/MM/yyyy'}}</span>
    </li>
</ol>
 
<!-- 
APLIQUE TODAS LAS DIRECTIVAS INDICADAS. EL NGIF PODIA HACERLO MAS CORTO SOLO CON LA CONDICION DE STUDENT.FECHANACIMIENTO
SIN ACLARAR EL TIPO DE DATO A EVALUAR COMO SER NULL O UNDEFINED. PERO QUERIA VALIDAR ESTO TAMBIEN.
-->