<h1>Lista de Alumnos - Ramiro del Rio</h1>

<ul>
    <li *ngFor="let student of students">
      <span [ngStyle]="{ color: student.nombre === 'Ramiro' ? 'green' : 'red' }">Nombre: {{ student.nombre }}</span><br>
      <span>Apellido: {{ student.apellido | lowercase}}</span><br>
      <span [ngClass]="{ 'highlight': student.edad > 18 }">Edad: {{ student.edad }}</span><br>
    </li>
  </ul>




 <!-- 
REFERENCIA DE CLASE DIRECTIVAS.
  <ul>
    <li *ngFor="let alumno of ['Naruto', 'Sasuke', 'Sakura']; let i = index">
      <span
        [style.background-color]="'red'"
        *ngIf="alumno === 'Sasuke'; else notSasuke"
        appRoundedBlock
        >{{ i }} - {{ alumno | uppercase }}</span
      >
      <ng-template #notSasuke>
        <span>{{ i }} - {{ alumno | uppercase }}</span>
      </ng-template>
    </li>
  </ul>



 -->
